<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	
	<appSettings>
		<add key="IP" value="192.168.1.3"/>
		<add key="Username" value="logopak"/>
		<add key="Password" value="J6DqVm&amp;y"/>
		<add key ="RemotePathForTest" value="C:/folderToDel/leap.log"/>
		<add key ="RemotePathSFTP" value="/userapp/software/draw/log/leap.log"/>
		<add key="PathToSaveReport" value="C:/folderToDel/"/>
		<add key="Timeout" value="10000"/>
		<add key="Mode" value="TXT DB"/>
		<add key="Test" value="Yes"/>
		<add key ="connectionString" value="Data Source=DESKTOP-NNO1SAJ\SQLEXPRESS;Initial Catalog=test;Integrated Security = True"/>
	</appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>